body {
    background-color: #f2f2f4;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: sans-serif;
    font-weight: lighter;
    color: #7e8790;
}

section{
    text-align: center;
}

section .form-group{
    background-color: white;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    border: none;
    width: 225px;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    color: #7e8790;
}

input:focus {
    outline:  none;
}

hr{
    width: 80%;
}

.fas{
    color: #7e8790;
}

.button button[type="submit"] {
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    width: 342px;
    height: 50px;
    background-color: #7e8790;
    color: white;
}

.button button[type="submit"]:hover {
    background-color: rgb(207, 210, 218);
    color: rgb(91, 101, 128);
}
